insmod iso9660
insmod part_gpt
insmod part_msdos
insmod udf
insmod fat

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

# CD/ISO medyayı bul
search --set=cdrom --file /.miso

# Font modülünü yükle
insmod font

# Fontları yükle - Türkçe karakter desteği için
#if loadfont ($cdrom)/EFI/BOOT/grub2/themes/pisilinux/unicode.pf2 ; then
    set gfxmode=auto
    load_video
    insmod gfxterm
    set locale_dir=($cdrom)/EFI/BOOT/grub2/locale
    set lang=tr_TR
    insmod gettext
#fi

# Ekstra fontlar (tema için)
loadfont ($cdrom)/EFI/BOOT/grub2/themes/pisilinux/DejaVuSans-Bold-14.pf2


terminal_input console
terminal_output gfxterm

insmod gfxmenu
insmod png
insmod jpeg

# Tema ayarları
set theme=($cdrom)/EFI/BOOT/grub2/themes/pisilinux/theme.txt
export theme

if [ x$feature_timeout_style = xy ] ; then
  set timeout_style=menu
  set timeout=10
else
  set timeout=10
fi

set menu_color_normal=white/black
set menu_color_highlight=white/red

# Root'u tekrar ayarla
search --set=root --file /.miso
load_video
set gfxpayload=keep
insmod gzio
insmod part_msdos
insmod ext2
    
submenu "Türkçe" --class lang_tr {
 
    menuentry "PisiLinux UEFI - GPT Kurucusu" --class pisilinux {
        load_video
        linux /pisi/boot/kernel %(initcpio)s mudur="language:tr,live" quiet splash ---
        initrd /pisi/boot/initrd
    }

    menuentry "PisiLinux UEFI - Güvenli Mod" --class pisilinux {
        load_video
        linux /pisi/boot/kernel %(initcpio)s mudur="language:tr,live,safe" quiet splash nomodeset ---
        initrd /pisi/boot/initrd
    }

    menuentry "PisiLinux UEFI - Kurtarıcı" --class recovery {
        load_video
        linux /pisi/boot/kernel %(initcpio)s yali=rescue ---
        initrd /pisi/boot/initrd
    }

    menuentry "Yeniden Başlat" --class restart {
        reboot
    }

    menuentry 'UEFI Yapılandırması' --class efi {
        fwsetup
    }
}

submenu "English" --class lang_en_us {

    menuentry "PisiLinux UEFI - GPT Installing" --class pisilinux {
        load_video
        linux /pisi/boot/kernel %(initcpio)s mudur="language:en,live" quiet splash ---
        initrd /pisi/boot/initrd
    }

    menuentry "PisiLinux UEFI - Safe Mode" --class pisilinux {
        load_video
        linux /pisi/boot/kernel %(initcpio)s mudur="language:en,live,safe" quiet splash nomodeset ---
        initrd /pisi/boot/initrd
    }

    menuentry "PisiLinux UEFI - Rescue" --class recovery {
        load_video
        linux /pisi/boot/kernel %(initcpio)s yali=rescue ---
        initrd /pisi/boot/initrd
    }

    menuentry "Restart" --class restart {
        reboot
    }

    menuentry 'System setup' --class efi {
        fwsetup
    }
}
