[Desktop Entry]
Type=Application
Version=1.1
Name[tr]=Belgelerim
Name[en]=My Documents
GenericName[tr]=Belgeler Klasörü
GenericName[en]=Documents Folder
Comment[tr]=Kişisel belgeleriniz
Comment[en]=Personal documents
Icon=folder-documents
Exec=dolphin $(xdg-user-dir DOCUMENTS)
Path=
Terminal=false
StartupNotify=true
Categories=Utility;FileManager;
